*{
  box-sizing: border-box;
}
 body {
   
  background-image: url(https://masheka.by/uploads/posts/2020-06/1591961706_8.jpg);
 }

.App {
  margin: 0 auto;
  background-image: url(https://masheka.by/uploads/posts/2020-06/1591961706_8.jpg);
  text-align: center;
  width: 80rem;
  height: 50rem;
  padding: 1rem 3rem;
}

.App-header{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 2.7rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-right: 10rem;
  color: #fff;
}